#works{
    margin: 0 auto;
    min-height: calc(100vh- 4rem);
    width: 100vw;
    max-width:90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.WorksTitle{
    margin: 1rem 0;
    font-size: 3rem;
    
}
.worksdesc{
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 70rem;
}
.workimgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 70rem;
    margin:2rem ;
}
.worksimg{
      object-fit: cover;
      height: 25rem;
      width: 30rem;
      margin: 2rem;
      cursor: pointer;
}
@media screen and (max-width:585px){
    .worksimg{
        height:100vw;
    }
}